.login{
    width: 100%;
    height: 100vh; /* vh = viewport height = altura da visualização do arquivo*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #f8d64c, #fedcd2);
}

/* usar sempre uma classe no css para não "bugar" o bootstrap*/